.mainbox{
    overflow:hidden;
    position:relative;
	height:435px;
}
.mainbox:hover .flashnav{
display:block;
}
.flashnav{
display:none;
}
.flashbox{
   overflow:hidden;
    position:relative; 
}
.flashbox a,.flashbox a img{
   z-index:2;
   position:relative;
}
.imagebox{
    text-align:right;
	position:relative;
	z-index:99;
	margin:0 auto;
}

.imagebox span{
display:inline-block;
width:18px;
height:18px;
margin:0 10px 10px 0px;
cursor:pointer;
float:left;
font-size:20px;
  }
.curimg{
color:rgb(211,40,85);
color:#ff6b00;
}
.defimg{
color:white;
}
