*{margin:0;padding:0}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li,pre,form, fieldset, legend, button, input, textarea,th, td{
  margin: 0;
  padding: 0;
}
/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
font: 12px/22px  Arial, Verdana, "\5b8b\4f53", "\5FAE\8F6F\96C5\9ED1",sans-serif;
color:#555;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol ,dl{ list-style: none; }
ul li{float:left;}

/** 重置文本格式元素 **/
a{
 color:#555;
 text-decoration:none;
 outline: none;
 border:none;
}
a:hover { text-decoration: none; }

img {
  vertical-align: top;
}

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }
button{outline:none;}
/* 清除浮动 */
.clear:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.clear {
  *zoom: 1;
}
/* 重置 hr */
hr {
    border: none;
    height: 1px;
}
input:focus {
    outline:none;
	 border:1px solid #3aa2e4;
}
input[type=checkbox]:focus {
	 border:none;
}

input[type=checkbox], input[type=radio]{
vertical-align: middle;
}

input::-ms-clear, input::-ms-reveal{display: none;}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }
/*IE下a:hover 背景闪烁 */
html{overflow:-moz-scrollbars-vertical;}


